<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Internet bank4 - wed</title>         
        <!-- Bootstrap core CSS -->         


        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> 
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> 


        <link href="{{url_for('static', filename='css/freelancer.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}" rel="stylesheet">

    </head>     
    <body id="page-top"> 
        <!-- Navigation -->         
    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">internet bank4</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <p>{{now_user_name}}</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <div>
              <a href="/login">login</a>
              </div>
                  </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a href="/logout">logout</a>
            </li>
             <li class="nav-item mx-0 mx-lg-1">
              <a href="mybank">mybank</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a href="/loan">loan</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a href="/change_money">exchange</a>
            </li>
      <li class="nav-item mx-0 mx-lg-1">
              <a href="/consulting">consulting</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <legend style="margin-top: 100px;"> 
            <div class="content"> 
            </div>             
            <div class="content text-center " style="margin-top: 200px;"> 
                <ul class="form-list"> 
                    <form action="/do_login" method="GET"> 
                        <li class="text-center"> 
                            <label for="id" class="text-center float-none " style="margin-right: 80px;">ID 
                            </label>
                            <input type="identifier" name="id" id="id" class="input-text required-entry validate-password text-center float-none" name="login[id]"> 
                            <br> 
                        </li>                         
                        <li class="text-center"> 
                            <label for="pass" class="text-center float-none">Password 
                            </label>
                            <input type="password" name="password" id="password" class="input-text required-entry validate-password text-center float-none"> 
                            <br> 
                        </li>
                                 
                        <div class="buttons-set" style="margin-bottom: 100;"> 
                                <button type="submit" name="login" value="login" class="btn btn-xl btn-primary" style="margin-left: 50px; margin-right: 10;">Login</button>
                                <button type="submit" name="join" value="join"  class="btn btn-xl btn-primary" style="margin-left: 50px; margin-right: 10;">Join</button>
                        </div>
                    </form>

                </ul>

            </div>
        </legend>
  

<!-- Footer --> 
<footer class="footer text-center"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-4 mb-5 mb-lg-0"> 
                <h4 class="text-uppercase mb-4">Location</h4> 
                <p class="lead mb-0">2, Busandaehak-ro 63beon-gil, Geumjeong-gu <br> Busan, Republic of Korea</p> 
            </div>             
            <div class="col-md-4 mb-5 mb-lg-0"> 
                <h4 class="text-uppercase mb-4">Around the Web</h4> 
                <ul class="list-inline mb-0"> 
                    <li class="list-inline-item"> 
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#"> <i class="fa fa-fw fa-facebook"></i> </a> 
                    </li>                     
                    <li class="list-inline-item"> 
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#"> <i class="fa fa-fw fa-google-plus"></i> </a> 
                    </li>                     
                    <li class="list-inline-item"> 
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#"> <i class="fa fa-fw fa-twitter"></i> </a> 
                    </li>                     
                    <li class="list-inline-item"> 
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#"> <i class="fa fa-fw fa-linkedin"></i> </a> 
                    </li>                     
                    <li class="list-inline-item"> 
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#"> <i class="fa fa-fw fa-dribbble"></i> </a> 
                    </li>                     
                </ul>                 
            </div>             
            <div class="col-md-4"> 
                <h4 class="text-uppercase mb-4">team 4</h4> 
                <p class="lead mb-0">김태진</p> 
            </div>             
        </div>         
    </div>     
</footer> 

<div class="copyright py-4 text-center text-white"> 
    <div class="container"> 
        <small>Copyright &copy; Your Website 2018</small> 
    </div>     
</div> 
<!-- Bootstrap core JavaScript --> 
<link href="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/jqBootstrapValidation.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/contact_me.js')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/freelancer.min.js')}}" rel="stylesheet">

</body>
</html>
